*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    padding: 0;
    margin: 0;
}


.block{
    
    margin: 0 auto;
    
}

.wrapblock1{
    
    display: flex;
    justify-content: space-around;
    
}

.wrapblock1 a{        
    text-decoration: none;
    color: black;
}

.logo{
    font-size: 20px;
}

.menu{
    display: flex;
    align-items: center;
}

.lang{
    display: flex;
    align-items: center;
}

.linkbl1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    text-decoration: none;
    color: black;
    padding-right:25px ;
}

/* -------------------------------------------------------------------------------------------- */


.wrapblock2{
    color: white;
    height: 400px;
    background-position: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#slider {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}  

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.boxblock2{
    margin-left: 210px;
}

.main_title{
    font-size: 40px;
}

.linkbl2{
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid black;
    padding: 20px;
    background-color: blue;
    margin-right: 15px;
}
/* -------------------------------------------------------------------------------------------- */

.block3{
    background-color: #F0F8FF;
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.wrapblock3{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* -------------------------------------------------------------------------------------------- */

.wrapblock4{
    padding-top: 50px;
    padding-bottom: 50px;
}

.content{
    padding-left: 210px;
}

.cards{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.card h4{
    font-size: 23px;
}

.card p{
    font-size: 19px;
}

.titlebl4 h3{
    font-size: 30px;
}
/* -------------------------------------------------------------------------------------------- */

.footer{
    height: 70px;
    background-color: black;
}